<form [formGroup]="form" class="form-container">

  <mat-card class="title">
    <mat-card-title>Cadastrar mudança</mat-card-title>

    <mat-card-content>

      <div class="form-grid">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Morador</mat-label>
          <mat-select formControlName="morador">
            @for (morador of moradores; track $index) {
              <mat-option
                [value]="morador">
                {{ morador.nome }} ({{ morador.unidade.bloco }} - {{ morador.unidade.apartamento   }})
              </mat-option>
            }
          </mat-select> 
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipo">
            <mat-option value="ENTRADA">Entrada</mat-option>
            <mat-option value="SAIDA">Saída</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data</mat-label>
          <input matInput formControlName="data" type="datetime-local">
        </mat-form-field>

      </div>

    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-stroked-button type="button" (click)="voltar()">Voltar</button>
      @if (!isViewMode && !isEditMode) {
        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="form.invalid">
          Salvar
        </button>
      }
      @if (!isViewMode && isEditMode) {
        <button mat-raised-button color="primary" (click)="update()" [disabled]="form.invalid">
          Atualizar
        </button>
      }
    </mat-card-actions>

  </mat-card>

</form>
