.form-container {
  max-width: 800px;
  margin: 20px auto;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  padding-top: 5%;
}

mat-form-field {
  width: 100%;
}

.title {
  text-align: left;
  margin-bottom: 20px;
}

.mat-mdc-card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 2% !important;
}

.valor {
  text-align: left !important;
}

.cor-circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  border: 1px solid #ccc;
}

.branca {
  background-color: white;
}

.preta {
  background-color: black;
}

.prata {
  background-color: silver;
}

.cinza {
  background-color: gray;
}

.vermelha {
  background-color: red;
}

.azul {
  background-color: blue;
}

.verde {
  background-color: green;
}

.amarela {
  background-color: yellow;
}

.roxa {
  background-color: purple;
}

.rosa {
  background-color: pink;
}

.laranja {
  background-color: orange;
}

.marrom {
  background-color: brown;
}

.dourada {
  background-color: gold;
}
