<div class="header">
  <div>
    <h1>Visitantes de hoje ({{ totalElementsVisitante }})</h1>
  </div>
</div>

<div>
  <table mat-table [dataSource]="dataSourceVisitantes" class="mat-elevation-z8 full-width">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{ element.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="unidade">
      <th mat-header-cell *matHeaderCellDef> Unidade </th>
      <td mat-cell *matCellDef="let element"> Bloco: {{ element.unidade.bloco }} / Apartamento: {{ element.unidade.apartamento }} </td>
    </ng-container>

    <ng-container matColumnDef="veiculo">
      <th mat-header-cell *matHeaderCellDef> Veiculo </th>
      <td mat-cell *matCellDef="let element"> {{ element.veiculo.placa }} ({{ element.veiculo.marca }}/{{ element.veiculo.modelo }}) </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedVisitantesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedVisitantesColumns;"></tr>
  </table>
</div>
<mat-paginator
  [length]="totalElementsVisitante"
  [pageSize]="pageSizeVisitante"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChangeVisitante($event)">
</mat-paginator>

<div class="header espacamento">
  <div>
    <h1>Mudanças agendadas ({{ totalElementsMudanca }})</h1>
  </div>
</div>

<div>
  <table mat-table [dataSource]="dataSourceMudancas" class="mat-elevation-z8 full-width">

    <ng-container matColumnDef="Morador">
      <th mat-header-cell *matHeaderCellDef> Morador </th>
      <td mat-cell *matCellDef="let element"> {{ element.morador.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="unidade">
      <th mat-header-cell *matHeaderCellDef> Unidade </th>
      <td mat-cell *matCellDef="let element"> Bloco: {{ element.morador.unidade.bloco }} - Apartamento: {{ element.morador.unidade.apartamento }} </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let element"> {{ element.tipo }} </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{ element.data | date: 'dd/MM/yyyy HH:mm' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedMudancasColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedMudancasColumns;"></tr>
  </table>
</div>
<mat-paginator
  [length]="totalElementsMudanca"
  [pageSize]="pageSizeMudanca"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChangeMudanca($event)">
</mat-paginator>
